

* {
box-sizing: border-box;
}

html {
min-height: 100px;
font-family: 'Times New Roman', Times, serif;
}

body {
margin: 0;
background: radial-gradient(  black,blue,green);
}

.page-title {
color:rgb(17, 243, 156);
font-family:  serif;
font-weight: lighter;
text-align: center;
font-size: 100px;
}

.game-info-container {
grid-column: 1/-1;
display: flex;
justify-content: space-between;
}

.game-info {
color: rgb(17, 243, 156);;
font-size: 60px;
}

.game-container {
margin: 50px;
display: grid;
grid-template-columns:repeat(7,auto) ;
grid-gap: 30px;
justify-content: center;
perspective: 500px;
}

.card {
position: relative;

height: 200px;
width: 140px;
}

.card-face {
position: absolute;
display: flex;
justify-content: left;
align-items: center;
width: 100%;
height: 100%;
border-radius: 10px;
border-width: 1.5px;

border-style:solid;
overflow: hidden;
transition: transform 500ms ease-in-out;
backface-visibility: hidden;

}

.card.visible .card-back {
transform: rotateY(-180deg); 
}

.card.visible .card-front {
transform: rotateY(0); 
}

.card.matched .card-front .card-value {
animation: dance 1s linear infinite 500ms;
}

.card-back {
background-color: black;
border-color: aqua;
transform: rotateY(0); 
;
}


.sticker {
align-self: flex-start;

margin-top: 5px;
width: 140px;
height: 190px;

}

.card-back:hover .sticker {
transform: translateY(0);
}

.card-value {
position: relative;
transition: transform 100ms ease-in-out;
transform: scale(.9);

width: 140px;
height: 190px;
}



.card-front {
background-color: black;
border-color: red;
transform: rotateY(180deg);
border-width: 1.5px;


}

.overlay-text {
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 100;
display: none;
position: fixed;
justify-content: center;
align-items: center;
flex-direction: column;
color: blue;
font-family: Creepy, serif;
transition: background-color 500ms, font-size 500ms;
}



.overlay-text.visible {
display: flex;
animation: overlay-grow 1000ms forwards;
}



@keyframes overlay-grow {
from {
  background-color: rgba(0, 0, 0, 0);
  font-size: 0;
}
to {
  background-color: rgba(0, 0, 0, .8);
  font-size: 8em;
}
}

@media (max-width: 600px) {
.game-container {
  grid-template-columns: repeat(3, auto)
}

.game-info-container {
  flex-direction: column;
  align-items: center;
}
}